<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<link
		href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Varela+Round&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Blog::Tags</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	
	<div class="container">
		<h4 class="headText">Posts</h4>
		<div class="boxContainer">
			
			<div class="box" th:each="post : ${posts}">
				<div class="postImg">
					<div class="black"></div>
					<h1 class="tag" th:text="${post.tag}">Tag</h1>
					<img th:src="@{'/images/' + ${post.tag} +'.jpg'}" class="imgPost" />
				</div>
				<div class="postContent">
					<div class="theTopics">
						<a th:href="@{ '/post/' + ${post.id} }">
							<h1 class="postTopic" th:text="${post.title}">Topic</h1>
						</a>
						<span class="author" th:text="'Written by '+ ${post.account.firstName}">Written by</span>
					</div>
					<div class="time">
						<span class="createdAt" th:text="'Pulished on ' +${post.createdAt}">Created at:</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</body>

</html>